{:paths ["src/clj" "src/cljc" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}}
 :aliases
 {:build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.7" :git/sha "22c2d09"
                  :deps/root "slim"}}
          :ns-default build}}}
